<a href="https://colab.research.google.com/github/sanjayrawat2468/onlineretailcustomersegmentation/blob/main/Online_Retail_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - **Online Retail Customer Segmentation**

##### **Project Type**    - EDA/Unsupervised
##### **Contribution**    - Sanjay Rawat(Individual)

# **Project Summary -**

### **Customer segmentation is the process of separating customers into groups on the basis of their shared behavior or other attributes. The groups should be homogeneous within themselves and should also be heterogeneous to each other. The overall aim of this process is to identify high-value customer base i.e. customers that have the highest growth potential or are the most profitable.**

### **Insights from customer segmentation are used to develop tailor-made marketing campaigns and for designing overall marketing strategy and planning.**

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

### **In this project, your task is to identify major customer segments on a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.**

# **Data Description**

### **InvoiceNo:** Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
### **StockCode:** Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
### **Description:** Product (item) name. Nominal.
### **Quantity:** The quantities of each product (item) per transaction. Numeric.
### **InvoiceDate:** Invice Date and time. Numeric, the day and time when each transaction was generated.
### **UnitPrice:** Unit price. Numeric, Product price per unit in sterling.
### **CustomerID:** Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
### **Country:** Country name. Nominal, the name of the country where each customer resides.

# **Import Libararies**

In [ ]:
# Importing Required Liberaries
import numpy as np
import pandas as pd
from numpy import math
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Mounting The Drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('/content/Online Retail.xlsx - Online Retail.csv')

# **Data Wrangling**

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
# Checking For Null Values
df.isna().sum()

**Here we have null values present in our dataset like in CustomerID and Description.we can drop those null values**

# **Data Cleaning**

In [ ]:
# Dropping Null Values
df.dropna(inplace=True)

In [ ]:
df.shape

**We will look for invoices with the letter c in the InvoiceNo column to see which means order is cancelled**

In [ ]:
# Changing Datatype
df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [ ]:
# Dropping The cancelled Orders
df=df[~df['InvoiceNo'].str.contains('C')]

# **Exploratory Data Analysis**

In [ ]:
Description_df=df['Description'].value_counts().reset_index()
Description_df.rename(columns={'index': 'Description_Name'}, inplace=True)
Description_df.rename(columns={'Description': 'Count'}, inplace=True)

**Top Products Based On Selling**

In [ ]:
# Top 5 Description Name
Description_df.head()

In [ ]:
# Plot Top 5 Product Name
plt.figure(figsize=(12,8))
plt.title('Top 5 Product Name')
sns.barplot(x='Count',y='Description_Name',data=Description_df[:5]);

**Bottom 5 Product Based On Selling**

In [ ]:
# Bottom 5 Description Name
Description_df.tail()

**Country Name**

In [ ]:
country_df=df['Country'].value_counts().reset_index()
country_df.rename(columns={'index': 'Country_Name'}, inplace=True)
country_df.rename(columns={'Country': 'Count'}, inplace=True)

**Top 5 Country Name Based On Customer Count**

In [ ]:
# Top 5 Country Name Based On Customer
country_df.head()

In [ ]:
plt.figure(figsize=(12,8))
plt.title('Top 5 Country based on the Most Numbers Of Customers')
sns.barplot(x='Count',y='Country_Name',data=country_df[:5]);

**From this graph we can see that most of the customers are from United Kingdom that make sense aas company is from UK bases after that we have Germany ,France ,EIRE and Spain**

**Bottom 5 Country Name Based On Customers**

In [ ]:
# Bottom 5 Country Name
country_df.tail()

In [ ]:
plt.figure(figsize=(12,8))
plt.title('Bottom 5 Countries based on Customers')
sns.barplot(x='Count',y='Country_Name',data=country_df[-5:]);

**From this graph we can see that least number of customers from Lithuania,Brazil, Czech Republic ,Bahrain and Saudi Arabia**

# **Feature Engineering**

In [ ]:
# Converting InvoiceDate Columns Into date time format
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], format="%Y-%m-%d %H:%M:%S")

# **Conclusion**

Write the conclusion here.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***